body {
    background-color: rgb(172, 172, 172);
}


#header {
    background-color: #66CCFF;
    color: #000000;
    text-align: center;
}

img {
    width: 225px;
    height: 300px;
}

.info-box {
    padding: 30px;
    border: 1px solid black;
  }


/*
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
*/